<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>util.ValidateCode</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/servlet/ValidateCode</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>checkLogin</servlet-name>
    <servlet-class>dal.checkLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLogin</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>register</servlet-name>
    <servlet-class>dal.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
   <servlet>
     <servlet-name>add_todolist</servlet-name>
    <servlet-class>dal.add_todolist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_todolist</servlet-name>
    <url-pattern>/add_todolist</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>show_todolist</servlet-name>
    <servlet-class>dal.show_todolist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_todolist</servlet-name>
    <url-pattern>/show_todolist</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>
